# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

DATABASE_URL="postgres://postgres:postgres@localhost:5432/fsrsDemo&schema=public"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=lh5H/LzVhuP98GJjYsvtObebM/BpkANcANANKIW9TtI=
# openssl rand -base64 32

GITHUB_ID=xxxx
GITHUB_SECRET=xxxxx
GITHUB_ADMIN_ID=62931549


LINGQ_KEY=a8120557e9f55952e4d95ea36dacf52ef76bf7c5eac875aefb6f14eabceb334a
# copy from http://localhost:3000/api/lingq/key

CRON_SECRET=07Y9nr40ry6HmYN+Ej4ehSxJNU9GEaKxX4KXTSlSyA0=