.note_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.operator-option{
  position: fixed;/*固定位置*/
  width: 48px;
  height: 200px;
  right:15%;
  bottom:3rem;
  z-index:2;/*设置优先级显示，保证不会被覆盖*/
}